@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Mitr:wght@200;300;400;500;600;700&family=Open+Sans:wght@300..800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 15px;
	font-weight: 400;
	color: black;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 10px;
}

a {
	text-decoration: none;
}

.medium-text {
  font-weight: 500;
}

.bold-text {
  font-weight: 700;
}
